@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hide scrollbar for Chrome, safari and OPera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* IE, Edge, Firefox */
.no-scrollbar::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
